[data-theme="dark"] #web_bg {
  background: url(https://s1.imagehub.cc/images/2023/07/25/c4360ef8b11322906c34d7fb018fedb.png);
  background-attachment: local;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  #web_bg {
    background: url(https://s1.imagehub.cc/images/2023/07/25/2aba8ff898c02594e3501dc75825157.jpeg) !important;
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
  [data-theme="dark"] #web_bg {
    background: url(https://s1.imagehub.cc/images/2023/07/25/2aba8ff898c02594e3501dc75825157.jpeg) !important;
    background-attachment: local !important;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
  }
}
